<div id="project-status">
  <div class="status-title">
    Project Status/ Update
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
              <th>Steps</th>
              <th>Status</th>
              <th>Country</th>
              <th>Milestone</th>
              <th>Date</th>
              <th>Notes/Updates</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>1</td>
              <td>Project Funded Requested</td>
              <td>USA</td>
              <td>0</td>
              <td>April 14 2020</td>
              <td>Initial Project Proposal was submitted to SebaConnect</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Project Funded</td>
              <td>USA</td>
              <td>0</td>
              <td>April 14 2020</td>
              <td>Initial Project Proposal was submitted to SebaConnect</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Project Published</td>
              <td>USA</td>
              <td>0</td>
              <td>April 14 2020</td>
              <td>Initial Project Proposal was submitted to SebaConnect</td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="#">Initial phase fund disbursement</a></td>
            <td>USA</td>
            <td>0</td>
            <td>April 14 2020</td>
            <td>Initial Project Proposal was submitted to SebaConnect</td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="#">Second phase fund disbursement</a></td>
            <td>USA</td>
            <td>0</td>
            <td>April 14 2020</td>
            <td>Initial Project Proposal was submitted to SebaConnect</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

