#aboutus{
  .banner{
    height: 350px;
    background-image: url('src/assets/img/category_banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
    line-height: 1;
  }
}
