<div id="project-file">
  <div class="payment-title">
    Files
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Owner</th>
              <th>Modified</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>9_1.zip</td>
              <td>25MB</td>
              <td>Jon H.</td>
              <td>4 days ago</td>
              <td>
                <div class="btn-group mb-1 mr-1" dropdown>
                  <button class="btn btn-primary" type="button">Download</button>
                  <button class="btn dropdown-toggle dropdown-toggle-split btn-primary" type="button" dropdownToggle>
                      <span class="caret"></span>
                      <span class="sr-only">primary</span>
                  </button>
                  <div *dropdownMenu class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </td>
          </tr>
          <tr>
              <td>9_2.zip</td>
              <td>30MB</td>
              <td>Jon H.</td>
              <td>2 days ago</td>
              <td>
                <div class="btn-group mb-1 mr-1" dropdown>
                  <button class="btn btn-primary" type="button">Download</button>
                  <button class="btn dropdown-toggle dropdown-toggle-split btn-primary" type="button" dropdownToggle>
                      <span class="caret"></span>
                      <span class="sr-only">primary</span>
                  </button>
                  <div *dropdownMenu class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </td>
          </tr>
          <tr>
              <td>9_3.zip</td>
              <td>26MB</td>
              <td>Jon H.</td>
              <td>7 days ago</td>
              <td>
                <div class="btn-group mb-1 mr-1" dropdown>
                  <button class="btn btn-primary" type="button">Download</button>
                  <button class="btn dropdown-toggle dropdown-toggle-split btn-primary" type="button" dropdownToggle>
                      <span class="caret"></span>
                      <span class="sr-only">primary</span>
                  </button>
                  <div *dropdownMenu class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


