<div id="campaign">
  <div class="story-title">
    Story
  </div>
  <hr>
  <div class="story-sub-title">
    "Flower industry is picking up quite quickly, with peak in online sales"
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div>
        <img class="story-img" src="assets/img/f1.png" alt="App Logo" />
        <div class="my-3">
          "We're back at 90% of our normal volume", says Marco van Zijverden, CEO of Dutch Flower Group (DFG). With 33 individual companies, they supply flowers and plants to all distribution channels, importing wholesalers and the large-scale retail sector all over the world, and when looking at the past, present and future of the COVID-19 crisis, they notice that the flower industry is picking up quite quickly, with a current peak in online floral sales, he explained during the PMA Virtual Town Hall meeting* yesterday
        </div>
      </div>
      <div>
        <img class="story-img" src="assets/img/f2.png" alt="App Logo" />
        <div class="my-3">
          In all channels, DFG is nearly back to normal volumes, except for online sales. "At garden centers, DIY stores and wholesale, we are back at 80%, mass retail at 90%, but online is about 4 to 5 times higher compared to last year. Bear in mind that online is of course still a limited part of the total business."
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="user-card">
        <div>
          <img class="story-avartar" src="assets/img/avatar1.png" alt="App Logo"/>
          <span class="ml-3" style="font-size: 20px; font-weight: 600;">Adey</span>
        </div>
        <div class="my-2">
          Professional gardener at Birmingham Botanical Gardens UK. Grasses, ferns, shade loving plants, roses. Views and pics my own exc RTs.
        </div>
        <div class="text-right" style="color: #00A8F2">
          See More
        </div>
      </div>
    </div>
  </div>
</div>
