<div id="payment">
  <div class="row w-100 m-0">
    <div class="col-sm-12 col-md-4">
      <div class="payment-card">
        <div>
          <img style="height: 51px; width: auto; " src="assets/img/card.png" alt="App Logo"/>
        </div>
        <button class="btn btn-success w-100 mt-4 py-2" type="submit">Add Credit or Debit Card</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="payment-card">
        <div class="d-flex justify-content-center">
          <img style="height: 51px; width: auto;" src="assets/img/paypal.png" alt="App Logo"/>
        </div>
        <button class="btn btn-success w-100 mt-4 py-2" type="submit">Add Credit or Debit Card</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="payment-card">
        <div class="d-flex justify-content-center">
          <img style="height: 51px; width: auto;" src="assets/img/bank.png" alt="App Logo"/>
        </div>
        <button class="btn btn-success w-100 mt-4 py-2" type="submit">Add Credit or Debit Card</button>
      </div>
    </div>
  </div>
</div>
