
<div id="funding" class="container">
  <div class="title">
    Funding
  </div>
  <div class="mt-4">

      <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Total Fund Needed</label>
            <div class="col-lg-10">
                <select class="form-control">
                    <option value="">Nothing</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
                <!-- <span class="text-danger" *ngIf="valForm.controls['select'].hasError('required') && (valForm.controls['select'].dirty || valForm.controls['select'].touched)">This field is required</span> -->
            </div>
            <!-- <div class="col-lg-4">
                <small class="text-muted"></small>
            </div> -->
        </div>
      </fieldset>
      <fieldset>
          <div class="form-group row">
              <label class="col-lg-2 col-form-label text-lg-right">%Share in Return</label>
              <div class="col-lg-10">
                  <input class="form-control" type="text"/>
                  <!-- <span class="text-danger" *ngIf="valForm.controls['digits'].hasError('pattern') && (valForm.controls['digits'].dirty || valForm.controls['digits'].touched)">This field must contain only digits</span> -->
              </div>
              <!-- <div class="col-lg-4">
                  <small class="text-muted">pattern="/^[0-9]+$/"</small>
              </div> -->
          </div>
      </fieldset>
      <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Date</label>
            <div class="col-lg-10">
                <input class="form-control" type="date"/>
                <!-- <span class="text-danger" *ngIf="valForm.controls['date'].hasError('date') && (valForm.controls['date'].dirty || valForm.controls['date'].touched)">Enter a valid date</span> -->
            </div>
            <!-- <div class="col-lg-4">
                <small class="text-muted">type='date'</small>
            </div> -->
        </div>
      </fieldset>
    </div>


  </div>
