<div id="footer" class="container">
  <div class="row mb-3">
      <div class="col-sm-12 col-md-4 footer-list">
          <div class="footer-list-title">ABOUT</div>
          <div><a>About us</a></div>
          <div>Our charter</div>
          <div>Stats</div>
          <div>Press</div>
          <div>Jobs</div>
      </div>
      <div class="col-sm-12 col-md-4 footer-list">
          <div class="footer-list-title">SUPPORT</div>
          <div>Help Center</div>
          <div>Our Rules</div>
          <div>Creator Handbook</div>
          <div>Partrons</div>
          <div>Brand Assets</div>
      </div>
      <div class="col-sm-12 col-md-4 footer-list">
          <div class="footer-list-title">HELLO</div>
          <div>Newsletters</div>
          <div>Mobile Apps</div>
          <div>SebaConnect Blog</div>
          <div>Engineering</div>
          <div>Research</div>
      </div>
  </div>
  <div>
    <!-- <a href="#/">
      <img class="footer-logo" src="assets/img/logo/logo.png" alt="App Logo" />
    </a> -->
    <span>&copy; {{settings.getAppSetting('year')}} - {{ settings.getAppSetting('name') }}</span>
    <a class="" href="#/">
      <img class="social-size" src="assets/img/social/google-plus.svg" alt="App Logo" />
    </a>
    <a class="" href="#/">
      <img class="social-size" src="assets/img/social/facebook.svg" alt="App Logo" />
    </a>
    <a class="" href="#/">
      <img class="social-size" src="assets/img/social/twitter.svg" alt="App Logo" />
    </a>
  </div>

</div>

