#footer{
  .social-size {
    width: 33px;
    margin: 10px
  }
  .footer-logo{
    width: 100px;
    background-color: #7E7E7E;
  }
  .footer-list div{
    margin: 3px 0;
  }
  .footer-list-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px !important;
  }
}
