<div id="project-payment">
  <div class="payment-title">
    Project Fund Breakdown by Milestone
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
              <th>Steps</th>
              <th>Status</th>
              <th>Country</th>
              <th>Milestone</th>
              <th>Date</th>
              <th>Project Manager</th>
              <th>Total Payment(US$)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>1</td>
              <td>Project Funded</td>
              <td>USA</td>
              <td>0</td>
              <td>April 14 2020</td>
              <td>Alula Belete</td>
              <td>$15000</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Project Funded</td>
              <td>USA</td>
              <td>0</td>
              <td>April 14 2020</td>
              <td>Alula Belete</td>
              <td>$15000</td>
          </tr>
          <tr>
              <td>3</td>
              <td>Project Funded</td>
              <td>USA</td>
              <td>0</td>
              <td>April 14 2020</td>
              <td>Alula Belete</td>
              <td>$15000</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

