<div id="inspiration">
  <div class="container">
    <div class="row inspiration">
      <div class="col-sm-12 col-md-6 mb-5 p-3">
        <div class="title">
          Technology - AI
        </div>
        <div class="sub-title">
          How Far is Too Far? The Age of A.I.
        </div>
        <div>
          Technology is going at a rapid speed. This is the age of A.I. A.I. is a branch of computer science dealing with the simulation of intelligent behavior in computers. Speaking of taking a look back, technology is advancing faster and being adopted than anything in the world. It took 10,000 years from WRITING to PRINTING PRESS but it took 500 more to get to EMAIL.
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-5 d-flex justify-content-md-center">
        <iframe width="450" height="350"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
        </iframe>
      </div>

      <div class="col-sm-12 col-md-6 mb-5 d-flex justify-content-md-center">
        <iframe width="450" height="350"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
        </iframe>
      </div>
      <div class="col-sm-12 col-md-6 mb-5 p-3">
        <div class="title">
          Technology - AI
        </div>
        <div class="sub-title">
          Saving the world one algorithm at a time
        </div>
        <div>
          A.I. Is helping developing countries to monitor human detection into parks before hunters keep exotic animals without any permits.
        </div>
      </div>

      <div class="col-sm-12 col-md-6 mb-5 p-3">
        <div class="title">
          Technology - AI
        </div>
        <div class="sub-title">
          Healed through A.I. The Age of A.I.
        </div>
        <div>
          A.I. is helping us understand how we human function so that we can use that to help others that live with disability. We now can recognize some patients better because we can convert words into 0s and 1s and transcribe exactly what the patients are experiencing or want to say.
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-5 d-flex justify-content-md-center">
        <iframe width="450" height="350"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
        </iframe>
      </div>

    </div>
    <div >
      <div class="d-flex justify-content-center title mb-3">Have an Idea?</div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-sm btn btn-primary submit px-5" [routerLink]="'/start-project'" type="submit">Submit</button>
      </div>
    </div>
    <hr style="border-color: #cecece;" class="my-5">
    <div>
      <app-review-slider></app-review-slider>
    </div>
  </div>

</div>
