<div id="start-project" class="container">
  <div class="title">Start project</div>
  <app-basic *ngIf="pageNumber==0"></app-basic>
  <app-funding *ngIf="pageNumber==1"></app-funding>
  <app-milestone *ngIf="pageNumber==2"></app-milestone>
  <div class="d-flex justify-content-lg-between p-2">
    <button class="btn btn-primary" *ngIf="pageNumber!=0" type="button" (click)="onPreview()">Preview</button>
    <button class="btn btn-primary" *ngIf="pageNumber==0" type="button" (click)="onPreview()" disabled="true">Preview</button>
    <!-- <div>
    <div class="mt-1">
        <label class="checkbox c-checkbox c-checkbox-rounded">
            <input id="roundedcheckbox10" type="checkbox" [(ngModel)]="checkFlag[0]"/>
            <span class="fa fa-check"></span>---------</label>
        <label class="checkbox c-checkbox c-checkbox-rounded">
            <input id="roundedcheckbox20" type="checkbox" />
            <span class="fa fa-check"></span>---------</label>
        <label class="checkbox c-checkbox c-checkbox-rounded">
              <input id="roundedcheckbox20" type="checkbox" />
              <span class="fa fa-check"></span></label>
      </div>
    </div> -->
    <button class="btn btn-primary" *ngIf="pageNumber!=2" type="button" (click)="onNext()">Next</button>
    <button class="btn btn-success" *ngIf="pageNumber==2" type="button" (click)="onSubmit()">Submit</button>
  </div>
</div>

